package com.rbfautomation.network;

/**
 * Created by brian on 1/31/15.
 */
public class Credentials {
    protected static String KEYSTORE_PASSWORD = "KEYSTORE_PASSWORD";
    protected static String HOST = "HOST_ADDRESS";
    protected static int    PORT   = 443; //HOST PORT
}
